#darkmode-button{
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 180px;
    margin-top: 55px;
    padding: 0;
    width:25px;

}

#darkmode-button img{
    height: 30px;
    margin-right: 10px;
}