[submodule "Praxissemester/doxygen/doxygen-awesome-css"]
	path = Praxissemester/doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "Praxisbericht"]
	path = Praxisbericht
	url = https://github.com/NicolasPawelka/Praxisbericht.git
